* {
    font-family: "Gill Sans", sans-serif;
}

.homepage {
    display: flex;
  }

article {
    /* border: 1px solid red; */
    margin: 1rem;
}

.searchbox {
    display: block;
}

.homepage main {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    /* border: 1px solid red; */
    margin: 1rem;
}